alias cp="cp -i"                          # confirm before overwriting something
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
alias np='nano -w PKGBUILD'
alias more=less
alias c="clear"
alias l="ls"
alias rm='rm -v'
alias mutt="neomutt"
alias cfb="vim $HOME/.bashrc"
alias sb="source $HOME/.bashrc"
alias vim="nvim"                         # Lol I forget typing nvim
alias ymp3="youtube-dl --audio-format mp3 -x"
